app/product.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kira-Kari</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&amp;amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="main-container">
      <!-- =========== Menu section menu ==================-->
      <header class="main-menu">
        <!-- обертка для верхнего меню-->
        <div class="main-menu__wrapper">
          <!-- навигация-->
          <nav class="main-nav">
            <div class="logo"><a class="logo-link" href="index.html"><img src="img/kira-keri-logo.svg" alt="KIRA-KERI" width="224" srcset=""></a></div>
            <!-- левая часть меню-->
            <div class="main-nav__left"><a class="nav-item nav-item__top nav-item__top-1" href="#shop"><img src="img/icon/icon-shop.svg" alt="" sizes="24" srcset=""><span>Shop                     </span></a><a class="nav-item nav-item__top nav-item__top-2" href="#designers"><img src="img/icon/icon-designers.svg" alt="" sizes="24" srcset=""><span>Designers</span></a>
              <!-- Поиск--><a class="nav-item nav-item__top nav-item__top-3" href="#search">
                
                <img src="img/icon/icon-search.svg" sizes="24">
                 <span>Search</span>
                <!-- форма поиска-->
                <article class="search-form-container">
                  <form class="search-form" action="/" method="post">
                    <label>                            </label>
                    <input class="search-field" type="search" name="search-field" placeholder="Enter search phrase..." autofocus="">
                    <button class="search-submit" type="submit" value=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-search" d="M11.6 4.8c-3.8 0-6.9 3.1-6.9 6.9 0 3.8 3.1 6.9 6.9 6.9 1.8 0 3.4-.7 4.6-1.8l4.1 4.1c.2.2.6.2.9 0 .2-.2.2-.6 0-.9l-4.1-4.1c.9-1.2 1.4-2.6 1.4-4.2 0-3.8-3.1-6.9-6.9-6.9zm-5.6 6.9c0-3.1 2.5-5.6 5.6-5.6 3.1 0 5.6 2.5 5.6 5.6 0 3.1-2.5 5.6-5.6 5.6-3.1 0-5.6-2.5-5.6-5.6z"/></svg></button>
                  </form>
                </article></a>
            </div>
            <!-- правая часть меню-->
            <div class="main-nav__right"><a class="nav-item nav-item__top nav-item__top-4" href="#wish_list"><img src="img/icon/icon-star.svg" alt="" sizes="24" srcset=""><span>Wish list                     </span></a><a class="nav-item nav-item__top nav-item__top-5" href="#account"><img src="img/icon/icon-account.svg" alt="" sizes="24" srcset=""><span>Account                    </span></a><a class="nav-item nav-item__top nav-item__top-6" href="#bag"><img src="img/icon/icon-bag.svg" alt="" sizes="24" srcset=""><span>Bag</span></a></div>
          </nav>
        </div>
      </header>
      <!-- =========== end Menu section menu ==============-->
      <!-- разметка страницы-->
      <div class="layout">
        <!-- ======== Карточка продукта ========-->
        <main class="product">
          <!-- основное описание продукта-->
          <section class="product-main-descr">
            <!-- основное изображение продукта-->
            <picture class="product-main-image">
              <source srcset="img/product/balenciaga/balenciaga-600-1.jpg">
              <source media="(min-width: 600px)" srcset="img/product/balenciaga/balenciaga-1280-1.jpg">
              <img src="img/product/balenciaga/balenciaga-1280-1.jpg" alt="">
            </picture>
          </section>
          <!-- === основное текстовое описание продукта  ===-->
                    <section class="product-about layout--hide">
                      <header class="product-about-header">
                        <!-- иконка шаринг в соцсети-->
                        <button class="icon btn-share" type="submit">
                          
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-share" d="M19 8.1v14c0 .2-.2.4-.5.4h-13.1c-.3 0-.5-.2-.5-.5v-14c0-.3.2-.4.5-.4h3.6c.2 0 .5.2.5.5s-.2.5-.5.5h-3.1v12.9h12.1v-12.9h-3c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h3.5c.3 0 .5.2.5.5zm-3.8-3.3l-2.9-3.2s-.1-.1-.3-.1c-.2 0-.4.1-.4.1s-2.2 2.5-2.9 3.3c-.2.2-.2.5 0 .7.2.2.5.2.7 0l.1-.1 2-2.2v10.9c0 .3.2.5.5.5s.5-.2.5-.5v-11l2 2.3c.2.2.5.2.7 0 .2-.2.2-.5 0-.7z"/></svg>
                        </button>
                        <!-- название продукта-->
                        <div class="product-about-top__container">
                          <h3 class="product-about-top__header">Balenciaga</h3>
                          <span class="product-about-top__subheader">white top</span>
                        </div>
                        <!-- иконка добавить продукт в изранное-->
                        <button class="icon btn-star" type="submit">
                          
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-star" d="M20 9.5c.4 0 .5.2.5.6 0 .2-.2.4-.4.6l-3.5 3.9.9 5.4v.2c0 .4-.2.6-.4.6s-.4 0-.4-.2l-4.7-2.6-4.7 2.6c0 .2-.2.2-.4.2s-.2 0-.4-.2l-.2-.4v-.2l1.1-5.4-3.9-3.9c-.2-.2-.2-.4-.2-.6 0-.2.2-.4.5-.6l5.1-.7 2.3-5c.4-.2.5-.4.7-.4s.4.2.5.4l2.3 5 5.3.7zm-4.8 4.4l3.2-3.2-4.4-.6-1.9-4.1-1.9 4.1-4.4.7 3.2 3.2-.7 4.6 3.9-2.2 3.9 2.2-.9-4.7z"/></svg>
                        </button>
                      </header>
                      <!-- текстовая часть основного описания продукта-->
                      <p class="product-about__text">A nod to &apos;40s silhouettes, Saloni&apos;s dress has a nipped-in waist and falls to a universally flattering A-line skirt.</p>
                      <!-- код продукта-->
                      <span class="product-about__code">#KK032571</span>
                    </section>
          <!-- === полное описание продукта ===-->
          <section class="product-full">
            <picture class="product-full__image product-full__image-one">
              <source srcset="img/product/balenciaga/balenciaga-600-2.jpg">
              <source media="(min-width: 600px)" srcset="img/product/balenciaga/balenciaga-1280-2.jpg">
              <img src="img/product/balenciaga/balenciaga-1280-2.jpg" alt="">
            </picture>
            <div class="product-full__image-pair-container">
              <picture class="product-full__image product-full__image-pair">
                <source srcset="img/product/balenciaga/balenciaga-600-3.jpg">
                <source media="(min-width: 600px)" srcset="img/product/balenciaga/balenciaga-1280-3.jpg">
                <img src="img/product/balenciaga/balenciaga-1280-3.jpg" alt="">
              </picture>
              <picture class="product-full__image product-full__image-pair">
                <source srcset="img/product/balenciaga/balenciaga-600-4.jpg">
                <source media="(min-width: 600px)" srcset="img/product/balenciaga/balenciaga-1280-3.jpg">
                <img src="img/product/balenciaga/balenciaga-1280-4.jpg" alt="">
              </picture>
            </div>
            <picture class="product-full__image product-full__image-one">
              <source srcset="img/product/balenciaga/balenciaga-600-5.jpg">
              <source media="(min-width: 600px)" srcset="img/product/balenciaga/balenciaga-1280-5.jpg">
              <img src="img/product/balenciaga/balenciaga-1280-5.jpg" alt="">
            </picture>
            <!-- === полное текстовое описание продукта-->
            <!-- слайдер продукта-->
                        <section class="product-slider layout--hide">
                          <h3 class="product-title">Style it</h3>
                          <!-- контейнер для слайдера на странице карточки/описания продукта-->
                          <div class="product-slider__container">
                            <!-- контейнер для фото слайдера на странице карточки/описания продукта-->
                            <div class="product-slider__container-image">
                              <picture class="product-image product-slider-image">
                                <source srcset="" type="image/">
                                <img src="" alt="" sizes="" srcset="">
                              </picture>
                            </div>
                            <!-- отметка из социальной сети-->
                            <div class="product-slider__share">
                              
                              <a class="product-slider__social">@marialopes</a> style it
                            </div>
                            <!-- управление страницами слайдера-->
                            <nav class="product-slider__nav">
                              <button class="product-slider__nav-item"></button>
                              <button class="product-slider__nav-item"></button>
                              <button class="product-slider__nav-item"></button>
                              <button class="product-slider__nav-item"></button>
                              <button class="product-slider__nav-item"></button>
                            </nav>
                          </div>
                        </section>
          </section>
          <!-- выбор размера продукта и добавление в корзину product-add-to-shopbag-->
                    <section class="product-buy layout--hide">
                      <!-- цена продукта-->
                      <div class="product__price">210.00 &euro;</div>
                      
                      <!-- выбор размера продукта-->
                      <div class="product__size-container">
                        <label class="product__size-label" for="select-size"></label>
                        <select class="product__size-field" id="select-size" name="select-size">
                          <option class="option-first" value="">Size</option>
                          <option class="select-option" value="40">40</option>
                          <option class="select-option" value="41">41</option>
                          <option class="select-option" value="42">42</option>
                          <option class="select-option" value="43">43</option>
                        </select>
                         <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class='icon icon-arrow-down' d="M16.6 8.6l-4.6 4.6-4.6-4.6-1.4 1.4 6 6 6-6-1.4-1.4z"/></svg>  
                      </div>
                      
                      <!-- добавление продукта в корзину-->
                      <button class="btn add-to-basket" type="submit">
                        add to shopping bag
                        <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><style type="text/css">.icon-plus{fill:#FFFFFF;}</style><path class="icon-plus" d="M11 5v6h-6v2h6v6h2v-6h6v-2h-6v-6h-2z"/></svg>
                        
                      </button>
                    </section>
          <!-- ============ карточки продуктов =============-->
          <section class="product-items">
            <!-- заголовок раздела-->
            <h3 class="product-title">How to wear it</h3>
            <!-- контейнер для маленьких карточек продуктов-->
            <div class="product-items-container">
                            <article class="product-item">
                              
                              <img class="product-item__image" src="img/product-list/fendi/fendi-1-01.jpg" sizes="">
                              <div class="product-item-description">
                                <h4>Fendi</h4>
                                <p>Zoe cutout cotton-blend dress</p>
                                
                                <p>2773.95 &euro;</p>
                              </div>
                            </article>
                            <article class="product-item">
                              
                              <img class="product-item__image" src="img/product-list/acne-studios/acne-studios-1-02.jpg" sizes="">
                              <div class="product-item-description">
                                <h4>Acne Studios</h4>
                                <p>Silk white dress</p>
                                
                                <p>487.95 &euro;</p>
                              </div>
                            </article>
                            <article class="product-item">
                              
                              <img class="product-item__image" src="img/product-list/acne-studios/acne-studios-1-02.jpg" sizes="">
                              <div class="product-item-description">
                                <h4>Oscar de la Renta</h4>
                                <p>Silk dress</p>
                                
                                <p>2773.95 &euro;</p>
                              </div>
                            </article>
                            <article class="product-item">
                              
                              <img class="product-item__image" src="img/product-list/oskar-de-la-renta/oskar-de-la-renta-1-01.jpg" sizes="">
                              <div class="product-item-description">
                                <h4>Acne Studios</h4>
                                <p>Flowerbed ruffle trimmed embroidered tulle gown</p>
                                
                                <p>487.95 &euro;</p>
                              </div>
                            </article>
            </div>
          </section>
        </main>
        <!-- =========== боковой контент на десктопе =============-->
        <aside class="dt-right-content layout--hide-aside">
          <!-- side основное текстовое описание продукта-->
                    <section class="product-about">
                      <header class="product-about-header">
                        <!-- иконка шаринг в соцсети-->
                        <button class="icon btn-share" type="submit">
                          
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-share" d="M19 8.1v14c0 .2-.2.4-.5.4h-13.1c-.3 0-.5-.2-.5-.5v-14c0-.3.2-.4.5-.4h3.6c.2 0 .5.2.5.5s-.2.5-.5.5h-3.1v12.9h12.1v-12.9h-3c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h3.5c.3 0 .5.2.5.5zm-3.8-3.3l-2.9-3.2s-.1-.1-.3-.1c-.2 0-.4.1-.4.1s-2.2 2.5-2.9 3.3c-.2.2-.2.5 0 .7.2.2.5.2.7 0l.1-.1 2-2.2v10.9c0 .3.2.5.5.5s.5-.2.5-.5v-11l2 2.3c.2.2.5.2.7 0 .2-.2.2-.5 0-.7z"/></svg>
                        </button>
                        <!-- название продукта-->
                        <div class="product-about-top__container">
                          <h3 class="product-about-top__header">Balenciaga</h3>
                          <span class="product-about-top__subheader">white top</span>
                        </div>
                        <!-- иконка добавить продукт в изранное-->
                        <button class="icon btn-star" type="submit">
                          
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-star" d="M20 9.5c.4 0 .5.2.5.6 0 .2-.2.4-.4.6l-3.5 3.9.9 5.4v.2c0 .4-.2.6-.4.6s-.4 0-.4-.2l-4.7-2.6-4.7 2.6c0 .2-.2.2-.4.2s-.2 0-.4-.2l-.2-.4v-.2l1.1-5.4-3.9-3.9c-.2-.2-.2-.4-.2-.6 0-.2.2-.4.5-.6l5.1-.7 2.3-5c.4-.2.5-.4.7-.4s.4.2.5.4l2.3 5 5.3.7zm-4.8 4.4l3.2-3.2-4.4-.6-1.9-4.1-1.9 4.1-4.4.7 3.2 3.2-.7 4.6 3.9-2.2 3.9 2.2-.9-4.7z"/></svg>
                        </button>
                      </header>
                      <!-- текстовая часть основного описания продукта-->
                      <p class="product-about__text">A nod to &apos;40s silhouettes, Saloni&apos;s dress has a nipped-in waist and falls to a universally flattering A-line skirt.</p>
                      <!-- код продукта-->
                      <span class="product-about__code">#KK032571</span>
                    </section>
          <!-- aside выбор размера продукта и добавление в корзину-->
                    <section class="product-buy">
                      <!-- цена продукта-->
                      <div class="product__price">210.00 &euro;</div>
                      
                      <!-- выбор размера продукта-->
                      <div class="product__size-container">
                        <label class="product__size-label" for="select-size"></label>
                        <select class="product__size-field" id="select-size" name="select-size">
                          <option class="option-first" value="">Size</option>
                          <option class="select-option" value="40">40</option>
                          <option class="select-option" value="41">41</option>
                          <option class="select-option" value="42">42</option>
                          <option class="select-option" value="43">43</option>
                        </select>
                         <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class='icon icon-arrow-down' d="M16.6 8.6l-4.6 4.6-4.6-4.6-1.4 1.4 6 6 6-6-1.4-1.4z"/></svg>  
                      </div>
                      
                      <!-- добавление продукта в корзину-->
                      <button class="btn add-to-basket" type="submit">
                        add to shopping bag
                        <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><style type="text/css">.icon-plus{fill:#FFFFFF;}</style><path class="icon-plus" d="M11 5v6h-6v2h6v6h2v-6h6v-2h-6v-6h-2z"/></svg>
                        
                      </button>
                    </section>
          <!-- aside полное текстовое описание продукта-->
                    <section class="product-full-descr layout--hide">
                      <h4>Size &amp; fit</h4>
                      <ul>
                        <li>Fits true to size, take your normal size</li>
                        <li>Cut to be fitted at the bust and waist, slightly loose at the hip</li>
                        <li>Mid-weight, slightly stretchy fabric</li>
                        <li>Those with a curvy figure may wish to take the next size up</li>
                        <li>Model is 175 cm / 5&apos;9&quot; and is wearing a UK 8</li>
                      </ul>
                      <h4>Composition &amp; Care</h4>
                      <ul>
                        <li>White cotton-blend</li>
                        <li>Button fastenings through front</li>
                        <li>96% cotton, 4% elastane</li>
                        <li>Dry clean</li>
                      </ul>
                      <a class="shipping-return" href="">
                        
                        <span> Shipping &amp; Returns</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width='24' viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class='icon icon-arrow-right' d="M8.6 7.4l4.6 4.6-4.6 4.6 1.4 1.4 6-6-6-6-1.4 1.4z"/></svg></a>
                    </section>
          <!-- aside слайдер продукта -->
                    <section class="product-slider">
                      <h3 class="product-title">Style it</h3>
                      <!-- контейнер для слайдера на странице карточки/описания продукта-->
                      <div class="product-slider__container">
                        <!-- контейнер для фото слайдера на странице карточки/описания продукта-->
                        <div class="product-slider__container-image">
                          <picture class="product-image product-slider-image">
                            <source srcset="" type="image/">
                            <img src="" alt="" sizes="" srcset="">
                          </picture>
                        </div>
                        <!-- отметка из социальной сети-->
                        <div class="product-slider__share">
                          
                          <a class="product-slider__social">@marialopes</a> style it
                        </div>
                        <!-- управление страницами слайдера-->
                        <nav class="product-slider__nav">
                          <button class="product-slider__nav-item"></button>
                          <button class="product-slider__nav-item"></button>
                          <button class="product-slider__nav-item"></button>
                          <button class="product-slider__nav-item"></button>
                          <button class="product-slider__nav-item"></button>
                        </nav>
                      </div>
                    </section>
        </aside>
      </div>
      
      <!-- ============= Footer section =============-->
      <footer class="main-footer">
        <div class="main-footer-content"></div>
      </footer>
      <!-- меню на мобильном-->
      <section class="menu-bottom">
        <div class="wrapper-mob">
          <div class="mob-nav">
            
            <a class="nav-item nav-item__bottom nav-item__bottom--1" href="#shop"><img src="img/icon/icon-shop.svg" alt="" sizes="24"><span>Shop</span></a>
            <a class="nav-item nav-item__bottom nav-item__bottom--2" href="#designers"><img src="img/icon/icon-designers.svg" alt="" sizes="24"><span>Designers</span></a>
            <a class="nav-item nav-item__bottom nav-item__bottom--3" href="search"><img src="img/icon/icon-search.svg" alt="" sizes="24"><span>Search</span></a>
            <a class="nav-item nav-item__bottom nav-item__bottom--4" href="#wish_list"><img src="img/icon/icon-star.svg" alt="" sizes="24&quot;&quot;"><span>Wish list</span></a>
            <a class="nav-item nav-item__bottom nav-item__bottom--5" href="#account"><img src="img/icon/icon-account.svg" alt="" sizes="24"><span>Account</span></a>
            <a class="nav-item nav-item__bottom nav-item__bottom--6" href="#bag"><img src="img/icon/icon-bag.svg" alt="" sizes="24"><span>Bag</span></a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>

app/pug/pages/product/product.pug
extends ../../templates/_template
block title
  title Kira-Kari

block header
  //- =========== Menu section menu ==================
  include ../../components/_menu
  //- =========== end Menu section menu ==============

block main

  // разметка страницы
  .layout
    // ======== Карточка продукта ========
    main.product
      // основное описание продукта
      section.product-main-descr
        // основное изображение продукта
        picture.product-main-image
          - var imgB = "img/product/balenciaga/";
          //- путь к фото продукта balenciaga
          
          //- source(media= '(min-width: 360px) and (max-width: 599px)' srcset= imgB + "balenciaga-600-1.jpg")
          source(srcset= imgB + "balenciaga-600-1.jpg")
          source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-1.jpg")
          |
          |
          img(src= imgB + 'balenciaga-1280-1.jpg', alt='')

      // === основное текстовое описание продукта  ===
      include _product-about
      +product-about(class='layout--hide')

      // === полное описание продукта ===
      section.product-full

        //- одиночное фото продукта
        picture.product-full__image.product-full__image-one
          source(srcset= imgB + "balenciaga-600-2.jpg")
          source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-2.jpg")
          |
          |
          img(src= imgB + 'balenciaga-1280-2.jpg', alt='')

        //- два фото продукта рядом
        .product-full__image-pair-container
          picture.product-full__image.product-full__image-pair
            source(srcset= imgB + "balenciaga-600-3.jpg")
            source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-3.jpg")
            |
            |
            img(src= imgB + 'balenciaga-1280-3.jpg', alt='')

          picture.product-full__image.product-full__image-pair
            source(srcset= imgB + "balenciaga-600-4.jpg")
            source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-3.jpg")
            |
            |
            img(src= imgB + 'balenciaga-1280-4.jpg', alt='')

        //- одиночное фото продукта
        picture.product-full__image.product-full__image-one
          source(srcset= imgB + "balenciaga-600-5.jpg")
          source(media="(min-width: 600px)", srcset= imgB + "balenciaga-1280-5.jpg")
          |
          |
          img(src= imgB + 'balenciaga-1280-5.jpg', alt='')          

        // === полное текстовое описание продукта
        include _product-full-text-description
  
        // слайдер продукта
        include _product-slider
        +productSlider(class='layout--hide')

      // выбор размера продукта и добавление в корзину product-add-to-shopbag
      include _product-buy
      +product-buy(class='layout--hide')

      // ============ карточки продуктов =============
      section.product-items
        // заголовок раздела
        h3.product-title How to wear it

        // контейнер для маленьких карточек продуктов
        .product-items-container
        
          include ../../components/_product-card-small.pug
          //- маленькая карточка продукта с описание и ценой
          +productCardSmall('fendi', 'fendi-1-01.jpg', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)    
          //- маленькая карточка продукта с описание и ценой
          +productCardSmall('acne-studios', 'acne-studios-1-02.jpg', 'Acne Studios', 'Silk white dress', 487.95)    

          //- маленькая карточка продукта с описание и ценой
          +productCardSmall('acne-studios', 'acne-studios-1-02.jpg', 'Oscar de la Renta', 'Silk dress', 2773.95)

          //- маленькая карточка продукта с описание и ценой
          +productCardSmall('oskar-de-la-renta', 'oskar-de-la-renta-1-01.jpg', 'Acne Studios', 'Flowerbed ruffle trimmed embroidered tulle gown', 487.95)

    // =========== боковой контент на десктопе =============
    aside.dt-right-content.layout--hide-aside

      // side основное текстовое описание продукта
      include _product-about
      +product-about

      // aside выбор размера продукта и добавление в корзину
      include _product-buy
      +product-buy

      // aside полное текстовое описание продукта
      include _product-full-text-description
      +product-full-descr(hide='layout--hide')

      // aside слайдер продукта 
      include _product-slider
      +productSlider
  |
  |
  // ============= Footer section =============
  footer.main-footer
    .main-footer-content

  // меню на мобильном
  include ../../components/_menu-mobile
