app/product-list.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kira-Kari</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&amp;amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="main-container">
      <!-- =========== Menu section menu ==================-->
      <header class="main-menu">
        <!-- обертка для верхнего меню-->
        <div class="main-menu__wrapper">
          <!-- навигация-->
          <nav class="main-nav">
            <div class="logo"><a class="logo-link" href="index.html"><img src="img/kira-keri-logo.svg" alt="KIRA-KERI" width="224" srcset=""></a></div>
            <!-- левая часть меню-->
            <div class="main-nav__left"><a class="nav-item nav-item__top nav-item__top-1" href="#shop"><img src="img/icon/icon-shop.svg" alt="" sizes="24" srcset=""><span>Shop                     </span></a><a class="nav-item nav-item__top nav-item__top-2" href="#designers"><img src="img/icon/icon-designers.svg" alt="" sizes="24" srcset=""><span>Designers</span></a>
              <!-- Поиск--><a class="nav-item nav-item__top nav-item__top-3" href="#search">
                
                <img src="img/icon/icon-search.svg" sizes="24">
                 <span>Search</span>
                <!-- форма поиска-->
                <article class="search-form-container">
                  <form class="search-form" action="/" method="post">
                    <label>                            </label>
                    <input class="search-field" type="search" name="search-field" placeholder="Enter search phrase..." autofocus="">
                    <button class="search-submit" type="submit" value=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path class="icon-search" d="M11.6 4.8c-3.8 0-6.9 3.1-6.9 6.9 0 3.8 3.1 6.9 6.9 6.9 1.8 0 3.4-.7 4.6-1.8l4.1 4.1c.2.2.6.2.9 0 .2-.2.2-.6 0-.9l-4.1-4.1c.9-1.2 1.4-2.6 1.4-4.2 0-3.8-3.1-6.9-6.9-6.9zm-5.6 6.9c0-3.1 2.5-5.6 5.6-5.6 3.1 0 5.6 2.5 5.6 5.6 0 3.1-2.5 5.6-5.6 5.6-3.1 0-5.6-2.5-5.6-5.6z"/></svg></button>
                  </form>
                </article></a>
            </div>
            <!-- правая часть меню-->
            <div class="main-nav__right"><a class="nav-item nav-item__top nav-item__top-4" href="#wish_list"><img src="img/icon/icon-star.svg" alt="" sizes="24" srcset=""><span>Wish list                     </span></a><a class="nav-item nav-item__top nav-item__top-5" href="#account"><img src="img/icon/icon-account.svg" alt="" sizes="24" srcset=""><span>Account                    </span></a><a class="nav-item nav-item__top nav-item__top-6" href="#bag"><img src="img/icon/icon-bag.svg" alt="" sizes="24" srcset=""><span>Bag</span></a></div>
          </nav>
        </div>
      </header>
      <!-- =========== end Menu section menu ==============-->
      <main class="product-list">
        <!-- ============ карточки продуктов =============-->
        <section class="product-items product-list">
          <h3 class="product-title product-list__title">New items</h3>
          <div class="product-list-items-container">
                      <article class="product-item product-list-item">
                        
                        <img class="product-list-item__image" src="img/product-list/fendi/fendi-1-01.jpg" sizes="">
                        <div class="product-item-description">
                          <h4>Fendi</h4>
                          <p>Zoe cutout cotton-blend dress</p>
                          
                          <p>2773.95 &euro;</p>
                        </div>
                      </article>
                      <article class="product-item product-list-item">
                        
                        <img class="product-list-item__image" src="img/product-list/acne-studios/acne-studios-1-02.jpg" sizes="">
                        <div class="product-item-description">
                          <h4>Acne Studios</h4>
                          <p>Silk white dress</p>
                          
                          <p>487.95 &euro;</p>
                        </div>
                      </article>
                      <article class="product-item product-list-item">
                        
                        <img class="product-list-item__image" src="img/product-list/acne-studios/acne-studios-1-02.jpg" sizes="">
                        <div class="product-item-description">
                          <h4>Oscar de la Renta</h4>
                          <p>Silk dress</p>
                          
                          <p>2773.95 &euro;</p>
                        </div>
                      </article>
                      <article class="product-item product-list-item">
                        
                        <img class="product-list-item__image" src="img/product-list/oskar-de-la-renta/oskar-de-la-renta-1-01.jpg" sizes="">
                        <div class="product-item-description">
                          <h4>Acne Studios</h4>
                          <p>Flowerbed ruffle trimmed embroidered tulle gown</p>
                          
                          <p>487.95 &euro;</p>
                        </div>
                      </article>
          </div>
        </section>
        <!-- === одиночное фото продукта ===-->
                  <article class="product-list-img-one-container">
                    <picture>
                      
                           <img class="product-full__image product-list__image-one" src="img/product-list/acne-studios/acne-studios-2-01.jpg" sizes="">
                    </picture>
                    <div class="product-item-description">
                      <h4>Acne Studios</h4>
                      <p>Flowerbed ruffle trimmed embroidered tulle gown</p> 
                       
                      <p>487.95 &euro;</p>
                    </div>
                  </article>
        <!-- ============ карточки продуктов =============-->
        <section class="product-items">
          <!-- заголовок раздела-->
          <h3 class="product-title">How to wear it</h3>
          <!-- контейнер для маленьких карточек продуктов-->
          <div class="product-list-items-container">
                      <article class="product-item product-list-item">
                        
                        <img class="product-list-item__image" src="img/product-list/fendi/fendi-1-01.jpg" sizes="">
                        <div class="product-item-description">
                          <h4>Fendi</h4>
                          <p>Zoe cutout cotton-blend dress</p>
                          
                          <p>2773.95 &euro;</p>
                        </div>
                      </article>
                      <article class="product-item product-list-item">
                        
                        <img class="product-list-item__image" src="img/product-list/acne-studios/acne-studios-1-01.jpg" sizes="">
                        <div class="product-item-description">
                          <h4>Acne Studios</h4>
                          <p>Silk white dress</p>
                          
                          <p>487.95 &euro;</p>
                        </div>
                      </article>
                      <article class="product-item product-list-item">
                        
                        <img class="product-list-item__image" src="img/product-list/acne-studios/acne-studios-2-1280.jpg" sizes="">
                        <div class="product-item-description">
                          <h4>Oscar de la Renta</h4>
                          <p>Silk dress</p>
                          
                          <p>2773.95 &euro;</p>
                        </div>
                      </article>
                      <article class="product-item product-list-item">
                        
                        <img class="product-list-item__image" src="img/product-list/oskar-de-la-renta/oskar-de-la-renta-1280.jpg" sizes="">
                        <div class="product-item-description">
                          <h4>Acne Studios</h4>
                          <p>Flowerbed ruffle trimmed embroidered tulle gown</p>
                          
                          <p>487.95 &euro;</p>
                        </div>
                      </article>
          </div>
        </section>
        <!-- меню на мобильном-->
        <section class="menu-bottom">
          <div class="wrapper-mob">
            <div class="mob-nav">
              
              <a class="nav-item nav-item__bottom nav-item__bottom--1" href="#shop"><img src="img/icon/icon-shop.svg" alt="" sizes="24"><span>Shop</span></a>
              <a class="nav-item nav-item__bottom nav-item__bottom--2" href="#designers"><img src="img/icon/icon-designers.svg" alt="" sizes="24"><span>Designers</span></a>
              <a class="nav-item nav-item__bottom nav-item__bottom--3" href="search"><img src="img/icon/icon-search.svg" alt="" sizes="24"><span>Search</span></a>
              <a class="nav-item nav-item__bottom nav-item__bottom--4" href="#wish_list"><img src="img/icon/icon-star.svg" alt="" sizes="24&quot;&quot;"><span>Wish list</span></a>
              <a class="nav-item nav-item__bottom nav-item__bottom--5" href="#account"><img src="img/icon/icon-account.svg" alt="" sizes="24"><span>Account</span></a>
              <a class="nav-item nav-item__bottom nav-item__bottom--6" href="#bag"><img src="img/icon/icon-bag.svg" alt="" sizes="24"><span>Bag</span></a>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>

app/pug/pages/product-list/product-list.pug
extends ../../templates/_template
block title
  title Kira-Kari

block header
  //- =========== Menu section menu ==================
  include ../../components/_menu
  //- =========== end Menu section menu ==============

block main
  main.product-list

    // ============ карточки продуктов =============
    section.product-items.product-list
      include _product-card-small-list.pug
      include _product-card-single-list.pug
      //- заголовок раздела
      h3.product-title.product-list__title New items
      //- контейнер для маленьких карточек продуктов
      .product-list-items-container

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('fendi', 'fendi-1-01.jpg', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('acne-studios', 'acne-studios-1-02.jpg', 'Acne Studios', 'Silk white dress', 487.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('acne-studios', 'acne-studios-1-02.jpg', 'Oscar de la Renta', 'Silk dress', 2773.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('oskar-de-la-renta', 'oskar-de-la-renta-1-01.jpg', 'Acne Studios', 'Flowerbed ruffle trimmed embroidered tulle gown', 487.95)


    // === одиночное фото продукта ===

    +productCardSingle('acne-studios', 'acne-studios-2-01.jpg', 'Acne Studios', 'Flowerbed ruffle trimmed embroidered tulle gown', 487.95)    


    // ============ карточки продуктов =============
    section.product-items
      // заголовок раздела
      h3.product-title How to wear it
      // контейнер для маленьких карточек продуктов
      .product-list-items-container

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('fendi', 'fendi-1-01.jpg', 'Fendi', 'Zoe cutout cotton-blend dress', 2773.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('acne-studios', 'acne-studios-1-01.jpg', 'Acne Studios', 'Silk white dress', 487.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('acne-studios', 'acne-studios-2-1280.jpg', 'Oscar de la Renta', 'Silk dress', 2773.95)

        //- маленькая карточка продукта с описание и ценой
        +productCardSmallList('oskar-de-la-renta', 'oskar-de-la-renta-1280.jpg', 'Acne Studios', 'Flowerbed ruffle trimmed embroidered tulle gown', 487.95)

    // меню на мобильном
    //- меню на мобильном
    include ../../components/_menu-mobile
